/* index.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; /* also helps prevent browser default spacing */
  font-family: sans-serif, Arial, Helvetica;
}

/* limit only the body width, not all elements */
body {
  max-width: 1700px;
  margin: 0 auto; /* keeps it centered */
}
